# Jekyll
_site/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/
Gemfile.lock

# Python
.ipynb_checkpoints/
__pycache__/

# User output files
neo4j_simple/
scripts/backlog/
scripts/tmp/
diagnoses/

#Personal Python environment
venv/
.venv/
env/
.env/

# Locally generated embedding caches
embeddings/
