{% assign current_lang = page.lang | default: site.lang | default: "en" %}
{% assign t = site.data.i18n[current_lang] %}
<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>{% if current_lang == "de" %}{{ t['footer.tagline'] }}{% else %}{{ site.description | escape }}{% endif %}</p>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li>
            <a href="https://github.com/feststelltaste/problemrider/">{{ t['footer.github_repository'] }}</a>
          </li>
          <li>
            {{ t['footer.license_prefix'] }} <a href="https://creativecommons.org/licenses/by-sa/4.0/">{{ t['footer.license_name'] }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</footer>